:root {
  --text-color: #fff;
  --accent-color: #ddd;
  --black: #000;
}

body {
  overflow-x: hidden;
  font-family: "Inconsolata", monospace;
}

p {
  line-height: 1.75;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
}

.text-primary {
  color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.btn {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: var(--text-color);
  border-color: var(--text-color);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: red;
}

#footer {
  margin-top: 100px;
}

.content {
  flex: 1;
  height: 100vh;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.black-bg,
.main-nav a {
  background-color: #000;
}

.home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.p10 {
  padding: 10px;
}

.m10 {
  margin: 10px;
}

.page {
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #001000;
  color: white;
  padding-top: 40px;
}